extends layout

block content
  h1 Post Message
  form(method='POST' action='/new')
    label(for='username') Username:
    input(type='text', id='username', name='username')
    br
    label(for='message') Message:
    input(type='text', id='message', name='message')
    br
    button(type='submit') Submit

