body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}


.boardContainer {
  border: 1px solid black;
}

.message {
  border: 1px solid black;
  margin: 4px;
  padding: 4px;


}